extends layout

block content
  h1= pageHeader.title

  h3 Description: #{body.description} 
  h3 Lead: #{body.lead}
  h3 Team: #{body.teamMembers}
  h3 Goal: #{body.goal}
  h3 Outcomes: #{body.outcomes}
  h3 Completion: #{body.completion}
    